.record_revenue_all {
    padding: 0 25%;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    overflow-y: auto; /* Changed to auto for better UX */
  
    /* border: 2px solid red; */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #336aea #ecf0f1; /* Thumb and track color */
}

.record_revenue_box {
    background: #fff;
    padding: 0 5%;
    padding-block: 50px;
    width: 100%;
    margin-top: 50px;
}

.record_revenue_title h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.revenue_table {
    width: 100%;
    border-collapse: collapse;
}

.revenue_table th,
.revenue_table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.revenue_table th {
    background-color:#336AEA;
    color: #fff;
}

.revenue_table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.revenue_table td {
    text-align: left;
}

.revenue_table td[colspan="2"] {
    text-align: left;
    color: #999;
}


@media only screen and (max-width: 1110px) {
    .record_revenue_all {
   
  
      padding: 0 25%;
    }
  }
  
  @media only screen and (max-width: 910px) {
    .record_revenue_all {
   
      padding: 0 25%;
    }
  }
  
  @media only screen and (max-width: 710px) {
    .record_revenue_all {
      padding: 0 10%;
    }
  }
  
  @media only screen and (max-width: 510px) {
    .record_revenue_all {
      padding: 0 5%;
    }
  }
  